<form method="get" action="/users/home">
   <input type="submit" value="Home Page" />
 </form> 
<form method="get" action="/logout">
   <input type="submit" value="Log Out" />
 </form>  


<h1>Edit your riddles </h1>
 
 <ul>
  <% @riddle_post.each do |post|%>
   <li>
     <h2> <%= post.title %> </h2> 
    <p>  <%=post.content %> </p>
     <h3> <% answer = post.answer %> </h3>
    <body>
     <details>
       <summary>Answer</summary>
       <p>

       </p>
       <p>  <%=post.answer%> </p>
     </details>
     </body> 
     <p>

       </p>
     <a href="/posts/<%=post.id%>"> Click here to edit </a>   
   </li>
  </ul>

    <p>
    </p>
  <% end %>