<form method="get" action="/users/home">
   <input type="submit" value="Home Page" />
 </form> 

 <form method="get" action="/logout">
   <input type="submit" value="Log Out" />
 </form>  
 <p>

 </p>
Title: <%= @riddle_post.title %>
<p> Content: <%= @riddle_post.content %></p>
<p>Answer:  <%= @riddle_post.answer %></p>
<p>
