<form method="get" action="/home">
   <input type="submit" value="Home Page" />
 </form> 

 <form method="get" action="/logout">
   <input type="submit" value="Log Out" />
 </form>  
 
<h1>All riddles </h1>

<ul>
 <% @riddle_posts.each do |riddle_post|%>
   <li>
      <%= riddle_post.title %>
     <p>
      <%= riddle_post.content %>
    </p>
   </li>
 <% end %>
 </ul>