<form method="get" action="/success">
   <input type="submit" value="Home Page" />
 </form> 

 <form method="get" action="/logout">
   <input type="submit" value="Log Out" />
 </form>  
 
<h1>All riddles </h1>

<ul>
 <% @riddle_posts.each do |riddle_post|%>
   <li>
     <a href="/riddle_posts/<%=riddle_post.id%>"> <%= riddle_post.title %></a>
     <p>
      <%= riddle_post.content %>
    </p>
   </li>
 <% end %>
 </ul>